@media (min-width:1280px){html{font-size:16px;}}
@media (min-width:1025px) and (max-width:1279px){html{font-size:14px;}}
@media (min-width:767px) and (max-width:1024px){html{font-size:12px;}}
@media (min-width:641px) and (max-width:768px){html{font-size:10px;}}
@media (max-width:640px){html{font-size:8px;}}